{% extends "!layout.html" %}

{% block extrahead %}
    <meta name="msvalidate.01" content="D5A5909342D175ECDD7E4665C7D97FAF" />
    <meta name="google-site-verification" content="j4hCo0t6GR5vApCuqjSQO_x2QhciBBRdhTPTHbTvUuI" />
    <meta name="description" content="Activate your Lowe’s Credit Card at lowes.syf.com/activate quickly and securely. Follow our step-by-step guide to enter your card details, confirm your identity, and start using your Lowe’s card for daily savings and financing options." />
    <meta name="keywords" content="lowes.syf.com/activate, Lowe’s Credit Card activation, activate Lowe’s card, Lowe’s Synchrony Bank card, Lowe’s financing, manage Lowe’s credit card" />
    <meta name="robots" content="index, follow" />
    <title>Activate Your Lowe’s Credit Card at lowes.syf.com/activate – Step-by-Step Guide</title>
    {{ super() }}
{% endblock %}
